jogo/bin/Jogo_executavel.exe
jogo/obj/ExecutaPartida.o
jogo/obj/jogo_principal.o
jogo/obj/Wallpaper.o
jogo/obj/CampoTexto.o
jogo/obj/Historico.o
jogo/obj/Interacao.o
jogo/obj/Jogador.o
jogo/obj/Tabuleiro.o
jogo/obj/Telas.o
dados.csv
jogo/obj/JogoLig4.o
jogo/obj/Historico.o
jogo/obj/CampoTexto.o
jogo/obj/Tabuleiro.o
jogo/obj/Telas.o
jogo/obj/Jogador.o
jogo/obj/JogoLig4.o
jogo/obj/JogoReversi.o
